@font-face {
    font-family: myfont;
    src: url(RobotoFlex.ttf);
}

@font-face {
    font-family: sobrenos;
    src: url(birstone.ttf);
}

@font-face {
    font-family: ms;
    src: url(MS.ttf);
}

body {
    padding-top: 80px;
    font-family: myfont;
    background-color: #f0f8f7;
    background-image: url('texture.png');
    background-repeat: repeat;
    opacity: 0.9;
    color: rgb(59, 59, 59);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2e5a46d3;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000;
    transition: all 0.3s ease;
}

header.shrink {
    padding: 5px 10px;
    font-size: 14px;
}

header .logo {
    padding-left: 70px;
    width: 150px;
}

h1 {
    font-size: 50px;
    margin-right: 20px;
}

nav ul {
    font-size: 20px;
    list-style: none;
    padding-right: 710px;
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #90C5AB;
}

/* Importância da Doação */
.importancia-doacao {
    background-color: #f0f8f7;
    margin-top: -50px;
    padding: 40px 20px;
    text-align: left;
    width: 80%;
    margin-left: 50px;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.importancia-doacao:hover {
    transform: translateY(-5px);
}

.importancia-doacao h2 {
    font-family: ms;
    color: #191b1a;
    font-size: 3.5em;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.importancia-doacao h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 3px;
    background-color: #6f9784;
    animation: underline 1s ease-out forwards;
}

.importancia-doacao p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    transition: opacity 0.3s ease;
}

/* Animação Fade In */
@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes underline {
    from {
        width: 0;
    }
}

/* Formas de Doação */
.formas-doacao {
    background: linear-gradient(to left, #59816e5e, #65b7e642, #5479547e);
    padding: 40px 20px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.formas-doacao:hover {
    transform: translateY(-5px);
}

.formas-doacao h2 {
    font-size: 2.5em;
    color: #000;
    margin-bottom: 20px;
}

.formas-doacao p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
}

.formato-doacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.doacao-item {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.doacao-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.doacao-item h3 {
    font-size: 1.8em;
    color: #6f9784;
    margin-bottom: 10px;
}

.doacao-item i {
    font-size: 2em;
    margin-right: 10px;
    color: #6f9784;
}

.doacao-item p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

/* QR Code Container */
.qrcode-container {
    text-align: center;
    margin-top: 30px;
}

.qrcode-container h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.qrcode-img {
    max-width: 100%;
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Galeria */
.galeria {
    text-align: center;
    margin: 50px 0;
    padding: 0 15px;
}

.galeria h2 {
    font-size: 2.5em;
    color: #6f9784;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 10px;
}

.foto {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    position: relative;
}

.foto img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #eee;
    transition: transform 0.3s ease;
}

.foto p {
    padding: 15px;
    color: #333;
    font-size: 1.1em;
    text-align: center;
    font-weight: 600;
    background-color: #f8f8f8;
    margin-top: -1px;
    border-top: 2px solid #eee;
}

.foto:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    border: 2px solid #6f9784;
}

.foto:hover img {
    transform: scale(1.1);
}

.foto p:hover {
    color: #6f9784;
}

/* Botão WhatsApp */
.boton-whatsapp {
    animation: pulse 1.5s infinite;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 99999;
    background-color: #25d366;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.boton-whatsapp img {
    width: 50px;
    height: 50px;
}

.boton-whatsapp:hover {
    background-color: #128c7e;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}





footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    padding: 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-center h3, .footer-right h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-center ul, .footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-center ul li, .footer-right ul li {
    font-size: 14px;
    margin: 5px 0;
}

.footer-center a, .footer-right a {
    color: #fff;
    text-decoration: none;
}

.footer-center a:hover, .footer-right a:hover {
    text-decoration: underline;
    color:#90C5AB;
   
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons li {
    font-size: 18px;
}

.social-icons a {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    text-decoration: wavy;
    color: #00aaff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    background-color: #222;
    padding: 10px;
}

.footer-bottom p {
    margin: 0;
}



.patada {
    position: absolute;
    width: 60px; /* Tamanho da pegada */
    opacity: 0.3; /* Deixa sutil */
}

.patada1 { top: 100px; left: 5%; transform: rotate(-15deg); }
.patada2 { top: 300px; left: 20%; transform: rotate(10deg); }
.patada3 { top: 500px; left: 40%; transform: rotate(-10deg); }
.patada4 { top: 700px; left: 60%; transform: rotate(15deg); }
.patada5 { top: 900px; left: 75%; transform: rotate(-20deg); }
.patada6 { top: 1100px; left: 50%; transform: rotate(5deg); }
.patada7 { top: 1300px; left: 25%; transform: rotate(-5deg); }
.patada8 { top: 1500px; left: 85%; transform: rotate(12deg); }
